body, html {
    
}

.container { 
    /* The image used */

    /* Full height */
    height: 100%; 
	width:980px;
    /* Center and scale the image nicely */

    padding:20px 80px 80px 80px;
    background-image: url("../images/background.png");
	background-repeat: repeat-y;
}

.myBanner {
	height:80%;
	width:100%;
	margin:0px;
}

.banner {
	margin:0px;
	height:120px;
}

.answer{
	margin:0 auto;
	margin-top:10px;
	padding:10px;
	font-size:20px;
	background-color: Lavender;
	border:solid;
	border-color:black;
	text-align: center;
	width:60%;
	align-self:center;
}
.answer:hover { 
    background-color: green;
}

.question{
	
	box-shadow: 10px 10px grey;
	margin:20px;
	width:70%;
}

#start{
	margin:20px 100px 20px 100px;
	padding:20px;
	font-size:20px;

}
#prompt{

	padding:20px;
	font-size:20px;

}

#timeRemaining{
	margin:10px 100px 10px 100px;
	font-size:20px;
	text-align:center;
}

